//- Simple Tariff plan
mixin tariff(name,cost,sending_cost,btn_val)
  .price-list__item.tariff
    header.tariff__header
      h3.tariff__name= name
      span.tariff__cost-val #{cost} <span class="tariff__cost">сум/мес</span>
    .tariff__content
      ul.tariff-options  
        li.tariff-options__item.tariff__includes.
          Входящие документы 
          бесплатны
        li.tariff-options__item.tariff__includes.
          Стоимость отправки  
          <span class="tariff__sending-cost">#{sending_cost} сум/док</span>
        li.tariff-options__item.tariff__includes.
          Интеграция с другими 
          приложениями
        li.tariff-options__item.tariff__includes.
          Скидка  15% на все услуги 
          <a class="tariff__lavina-link" href="#" target="_blank">Lavina Tech</a>
      button.btn.btn-outline.tariff__btn= btn_val


