include ../mixins/import.pug
include ../variables/var.pug
html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    meta(property='og:url' content='https://l-factura.uz/')
    meta(property='og:title' content='Удобно. Быстро. Доступно.')
    meta(property='og:description' content='LAVINA TECH OOO - официальный оператор электронного документооборота Государственного налогового комитета Республики Узбекистан')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://i.ibb.co/vVyG1Q3/ic-launcher-foreground.png')
    meta(name='description' content='Как отправить электронную счет-фактуру, подписать документ на смартфоне или интегрировать ваш 1С с ЭСФ? Мы рады вам предлагать наш универсальный сервис L-factura')
    title Электронные счета-фактуры и документооборот в Узбекистане | L-factura

    link(href='../images/fav/apple-icon-180x180.png' rel='apple-icon' sizes='180x180')
    link(href='../images/fav/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png')
    link(href='../images/fav/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png')
    meta(content='#fa7070' name='msapplication-TileColor')
    meta(content='#fa7070' name='theme-color')
    link(rel="stylesheet" href="../styles/styles.css")
    script(src="../scripts/modernizr-custom.js")
  body
    .wrap
      //- Header
      include ../global/header.pug

      //- Section Partners
      include ../global/partners.pug

      //- Section Features
      include ../global/features.pug

      //- Section Manual
      include ../global/guide.pug

      //- Section Mobile App
      include ../global/mobileApp.pug

      //- Section Telegramm bot
      include ../global/tgbot.pug

      //- Section Price
      include ../global/price.pug

      //- Section Supports
      include ../global/supports.pug

      //- Section News
      include ../global/promo.pug

      //- Section News
      include ../global/news.pug

      //- Section Supports
      include ../global/map.pug

      //- Footer
      include ../global/footer.pug

      //- Partners logos
      include ../global/svg_images.pug
      
    script(src="../scripts/index.js")

