section.features.page-section
  .container
    h2.page-section__title  Наши <span class="page-section__title--painted">преимущества</span>
    .features__list.features-list
      .features-list__item.feature
        div.feature__icon.feature__icon--support
        h3.feature__title Поддержка 24/7
        p.feature__desc.
          Мы ценим каждого клиента. 
          Поэтому мы всегда рады помочь 
          вам.
      .features-list__item.feature
        div.feature__icon.feature__icon--integrate
        h3.feature__title Любые интеграции
        p.feature__desc.
          Мы в силах интегрировать нашу 
          систему с любой системой учета 
          (начиная с Excel и 1С:Предприятие 
          заканчивая SAP)
      .features-list__item.feature
        div.feature__icon.feature__icon--filter
        h3.feature__title Удобный фильтр
        p.feature__desc.
          С помощью нашего удобного 
          фильтра вы сможете найти 
          нужный документ за считанные 
          секунды.
      .features-list__item.feature
        div.feature__icon.feature__icon--tgbot
        h3.feature__title Телеграм бот
        p.feature__desc.
          С помощью телеграмм бота
          вы не пропустите важный документ.
          Вы можете настроить уведомления
          на входящие документы,
          отказ и подпись контрагента.
