section#guide.guide.page-section
  .container
    h2.page-section__title L-Factura: <span class="page-section__title--painted">с чего начать</span>
    .guide__steps.guide-cards
      +guide-card("Пройдите в личный кабинет", "guide-card--step1", "guide_1",'Нажмите на кнопку "Начать"')(class="guide-card__img--step1")
      +guide-card("Выберите ключ", "guide-card--step2", "guide_2", "Выберите ваш ЭЦП ключ")(class="guide-card__img--step2")
      +guide-card("Примите публичную оферту", "guide-card--step3", "guide_3", "Ознакомтесь с публичной оффертой")(class="guide-card__img--step3")