section.mobile-app.page-section
  .mobile-app__background
  .container
    .mobile-app__wrap 
      .mobile-app__side-left 
        h2.mobile-app__title Удобно Быстро Доступно
        p.mobile-app__desc.
          Мы сделали этот сервис максимально удобным для Вас, чтобы вы могли уделять больше времени и внимания на более важные дела. 
          Пользуйтесь сервисом L-Factura без регистрации и SMS уже сейчас. 
        button.btn.btn--primary Установить
      .mobile-app__side-right
        +picture('mobile-app','mobile-app__image', false, 'L-factura, мобильное приложения', "L-factura, мобильное приложения")
