section#news.news.page-section
  .container
    h2.page-section__title Новости
    .news-slider
      .glide__track(data-glide-el='track')
        ul.news__list.news-list.glide__slides
          li.news-list__item.glide__slide
            +picture("/news_cover/rectangle","news__img", true, "Универсальный документ PDF")
            h3.news__title Универсальный документ PDF  
            p.news__desc.
              Теперь вы можете отправить любой документ электронно. 
              Достаточно загрузить документ и выбрать получателя.
            time.news__data 20.05.2020

          li.news-list__item.glide__slide
            +picture("/news_cover/rectangle","news__img", true, "Импорт счетов-фактур в 1С")
            h3.news__title Импорт счетов-фактур в 1С
            p.news__desc.
              Вам больше не нужно вручную создавать документы в 1С.
              Мы сделаем это за Вас.
            time.news__data 20.05.2020

          li.news-list__item.glide__slide
            +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
            h3.news__title L-Factura - официальный оператор ЭДО  
            p.news__desc.
              OOO LAVINA TECH стала официальным оператором электронного документооборота 
              Государственного налогового комитета Республики Узбекистан
            time.news__data 01.04.2020

          li.news-list__item.glide__slide
            +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
            h3.news__title Импорт документов из Excel 
            p.news__desc.
              Работать в системе L-Factura стало еще удобней, теперь вы можете
              импортировать документы из таблиц Excel.
            time.news__data 01.04.2020

          li.news-list__item.glide__slide
            +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
            h3.news__title Интеграция с 1С: Бухгалтерия
            p.news__desc.
              Теперь вы можете работать напрямую из программы 1С: Бухгалтерия. 
              Для интеграции, оставьте заявку.
            time.news__data 01.04.2020

          li.news-list__item.glide__slide
            +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
            h3.news__title Запуск в тестовом режиме
            p.news__desc.
              Система ЭДО L-Factura запущена в тестовом режиме 
            time.news__data 01.04.2020
            
      //- .glide__bullets(data-glide-el='controls[nav]')
      //-   button.glide__bullet(data-glide-dir='=0')
      //-   button.glide__bullet(data-glide-dir='=1')
