section.news.page-section
  .container
    h2.page-section__title Новости
    .glide__track(data-glide-el='track')
      ul.news__list.news-list.glide__slides
        li.news-list__item.glide__slide
          +picture("/news_cover/rectangle","news__img", true, "Универсальный документ PDF")
          h3.news__title Универсальный документ PDF  
          p.news__desc.
            Теперь вы можете отправить любой документ электронно. 
            Достаточно загрузить документ и выбрать получателя.
          time.news__data 20.05.2020

        li.news-list__item.glide__slide
          +picture("/news_cover/rectangle","news__img", true, "Импорт счетов-фактур в 1С")
          h3.news__title Импорт счетов-фактур в 1С
          p.news__desc.
            Вам больше не нужно вручную создавать документы в 1С. 
            Мы сделаем это за Вас.
          time.news__data 12.04.2020

        li.news-list__item.glide__slide
          +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
          h3.news__title L-Factura - официальный оператор ЭДО  
          p.news__desc.
            OOO LAVINA TECH стала официальным оператором электронного документооборота 
            Государственного налогового комитета Республики Узбекистан
          time.news__data 01.04.2020

        li.news-list__item.glide__slide
          +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
          h3.news__title L-Factura - официальный оператор ЭДО2  
          p.news__desc.
            OOO LAVINA TECH стала официальным оператором электронного документооборота 
            Государственного налогового комитета Республики Узбекистан
          time.news__data 01.04.2020

        li.news-list__item.glide__slide
          +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
          h3.news__title L-Factura - официальный оператор ЭДО 3 
          p.news__desc.
            OOO LAVINA TECH стала официальным оператором электронного документооборота 
            Государственного налогового комитета Республики Узбекистан
          time.news__data 01.04.2020

        li.news-list__item.glide__slide
          +picture("/news_cover/rectangle","news__img", true, "L-Factura - официальный оператор ЭДО")
          h3.news__title L-Factura - официальный оператор ЭДО  4
          p.news__desc.
            OOO LAVINA TECH стала официальным оператором электронного документооборота 
            Государственного налогового комитета Республики Узбекистан
          time.news__data 01.04.2020
  .glide
    .glide__bullets(data-guide-el='controls[nav]')
      button.glide__bullet(data-glide-dir='=0')
      button.glide__bullet(data-glide-dir='=1')
