section.partners.page-section.glide
  .container
    h2.page-section__title  Мы <span class="page-section__title--painted">сотрудничаем</span>
    .glide__track(data-glide-el='track')
      ul.partners__list.partners-list.glide__slides
        li.partners-list__item.glide__slide 
          +picture("partner_1","partners-list__img", false, "partner_1")
          span.partners-list__name LogiTech
        li.partners-list__item.glide__slide      
          +picture("partner_2","partners-list__img", false, "partner_2")
          span.partners-list__name LogiTech
        li.partners-list__item.glide__slide 
          +picture("partner_3", "partners-list__img", false, "partner_3")
          span.partners-list__name LogiTech
        li.partners-list__item.glide__slide
          +picture("partner_4", "partners-list__img", false, "partner_4")
          span.partners-list__name LogiTech
        li.partners-list__item.glide__slide
          +picture("partner_5", "partners-list__img", false, "partner_5")
          span.partners-list__name LogiTech
        li.partners-list__item.glide__slide
          +picture("partner_6", "partners-list__img", false, "partner_6")
          span.partners-list__name LogiTech

