section.price.page-section
  .container
    h2.page-section__title  Тарифные <span class="page-section__title--painted">планы</span>
    .price__list.price-wrap

      .price-list__item.tariff-options
        .tariff-options__item Входящие документы бесплатны
        .tariff-options__item Стоимость отправки  <span class="">#{sending_cost} сум/док</span>
        .tariff-options__item Интеграция с другими приложениями
        .tariff-options__item Скидка  15% на все услуги <a class="tariff__lavina-link" href="#" target="_blank">Lavina Tech</a>

      .price-list__item.tariff
        .tariff__header
          h3.tariff__name Standart
          p.tariff__cost <span class="tariff__cost-val">0</span> сум/мес
        .tariff__option Бесплатно
        .tariff__option 249 сум/док
        .tariff__option
          .tariff__includes 
        .tariff__option
          .tariff__includes 
        .tariff__option.tariff__option--last-left
          button.btn.btn-outline.tariff__btn Начать

      .price-list__item.tariff
        .tariff__header.tariff__header--premium
          h3.tariff__name Premium
          p.tariff__cost <span class="tariff__cost-val">99 000</span> сум/мес
        .tariff__option Бесплатно
        .tariff__option 199 сум/док
        .tariff__option
          .tariff__includes.tariff__includes--active
        .tariff__option
          .tariff__includes.tariff__includes--active 
        .tariff__option.tariff__option--last-right
          button.btn.btn-outline.tariff__btn Обновить мой план