section.promo.page-section
  .container
    .promo__wrap
      .promo__side-left  
        h2.page-section__title Вы работаете в 1С: <span class="page-section__title--painted">Бухгалтерия?</span>
        p.page-section__desc
          |Вы сможете отправлять, принимать и 
          |импортировать электронные документы не 
          |выходя из 1С.
        .promo__buttons-wrap 
          button.btn.btn--primary.promo__btn.promo__btn--submit 
            a(href="https://t.me/lavinagroup") Оставить заявку
          button.btn.btn--outline.promo__btn.promo__btn--down 
            a(href="https://l-factura.uz/media/L-Factura интеграция 1С.zip" download) Скачать инструкцию
      .promo__side-right 
        +imgSVG("promo", "promo__img", "Электронный документооборот, интеграция с 1С")