section.supports.page-section.page-section--bg-white
  .supports__background
  .container
    h2.page-section__title  <span class="page-section__title--painted">Затрудняетесь?</span>
    .supports__list.supports-list
      +support("Инструкция",
        "Скачайте краткое руководство пользователя к системе L-Factura", "https://docs.google.com/document/d/1LwSWlEJMo8Un6orKF6U1xP5PCAXtjHn8WAEeJqml0uY/edit")(class="support--manual")
      +support("Видеоинструкции",
        "Перейдите на наш Youtube канал, чтобы просмотреть видеоинструкции для работы в системе L-Factura")(class="support--ytb")
      +support("Служба поддержки в Telegram",
        "Напишите нашим специалистам в Telegram и они моментально ответят вам.","https://t.me/lavinagroup")(class="support--telegram")
      +support("Позвоните нам",
        "Мы всегда рады ответить на ваши вопросы, и помочь вам ознакомиться с системой ЭДО L-Factura","tel:+998712000881")(class="support--call")
