section.supports.page-section.page-section--bg-white
  .supports__background
  .container
    h2.page-section__title  <span class="page-section__title--painted">Затрудняетесь?</span>
    .supports__list.supports-list
      +support("Инструкция",
        "Скачайте краткое руководство пользователя к системе L-Factura")(class="support--manual")
      +support("Видеоинструкции",
        "Перейдите на наш Youtube канал, чтобы просмотреть видеоинструкции для работы в системе L-Factura")(class="support--ytb")
      +support("Служба поддержки в Telegram",
        "Напишите нашим специалистам в Telegram и они моментально ответят вам.")(class="support--telegram")
      +support("Позвоните нам",
        "Мы всегда рады ответить на Ваши вопросы, и помочь Вам ознакомиться с системой ЭДО L-Factura")(class="support--call")
