section.telegram-bot.page-section
  .container
    .telegram-bot__wrap 
      .telegram-bot__side-left 
        h2.telegram-bot__title Удобно Быстро Доступно
        p.telegram-bot__desc.
          Мы сделали этот сервис максимально удобным для Вас, чтобы вы могли уделять больше времени и внимания на более важные дела. 
          Пользуйтесь сервисом L-Factura без регистрации и SMS уже сейчас. 
        button.btn.btn--primary Установить
      .telegram-bot__side-right
        +picture('telegrambot','telegram-bot__image', false, 'L-factura, мобильное приложения')